@import url('https://fonts.googleapis.com/css?family=Raleway');

.container-tablet {
    display: grid;
    grid-template-rows: max-content max-content;
    grid-template-columns: 100vw;
    margin: 50px auto;
    left: 50%;    
    -webkit-box-shadow: 0px 0px 2px 1px rgba(180,180,180,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(180,180,180,1);
    box-shadow: 0px 0px 2px 1px rgba(180,180,180,1);
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    align-items: center;
    align-content: center;
    background: white;
    width: calc(95vw - 20px);
    max-width: calc(95vw - 20px);
}


.calendar-tablet {
    display: inline-grid;
    grid-row: 1/2;
    grid-column: 1/2;
    float: left;
    background-color: white;
    max-height: 60vh;
    min-height: max-content;
    height: 60vh ;
    max-width: inherit;
    width: inherit ;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &,
    & > * {
      display: flex;
      flex-direction: column;
    }

    .rbc-timeslot-group {
        font-size: 3vw;
    }

    .rbc-calendar {
        flex: 1;
        min-height: 400px;
        font-family: Raleway;
        font-size: 2vw;
    }

    .rbc-toolbar-label {
        font-size: 4vw;
        font-weight: 900;
    }

    .rbc-event-label {
        display: none;
    }

    .rbc-header {
        font-weight: 500;
        font-size: 2vw;
        border-left: none;

    }

    .rbc-month-view {
        border: none;
    }

    .rbc-agenda-table tr {
        background-color: white!important;
        border-color: #ddd!important;
        border-width: 1px!important;
        border-radius: 2px!important;
        padding: 25px 0;
    }

    .rbc-agenda-date-cell {
        font-size: 2vw;
    }

    .rbc-agenda-time-cell {
        font-size: 2vw;
        font-style: italic;       
    }

    .rbc-agenda-event-cell {
        font-size: 2vw;
    }

    .rbc-show-more {
        color: black;
    }

    .rbc-toolbar {
        margin-top: 10px;
        margin-left: 5px;
        justify-content: unset;
    }
    
    .nav button{
        outline: none;
        border: none;
        font-size: 3vw;
        color: #7B7B7B;
        font-weight: 900;
    }
    
    .rbc-btn-group button{
        border-radius: 10px;
        outline: none;
    }
    .views  {
        margin-left: auto; 
        margin-right: 2vw;
    }
    .rbc-toolbar-label {
        font-size: 4vw;
        font-weight: 900;
        text-align: center;
        flex: unset;
    }

    .rbc-current-time-indicator {
        background-color: #5497f7;
        height: 2px;

    }
    
    .rbc-day-bg.rbc-today {
    }

}

.event-container-tablet {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content max-content;
    float: right;
    background-color: rgb(255, 255, 255);
    max-height: 60vh;
    min-height: max-content;
    height: 60vh ;
    max-width: inherit;
    width: inherit;
    border-left: rgba(180,180,180,1);
    font-family: Raleway;
    border-radius: 10px;

}

.title-tablet {
    display: inline-grid;
    grid-column: 1/2;
    grid-row: 1/2;
    max-height: 18vh;
    min-height: max-content;
    height: max-content;
    max-width: inherit;
    width: inherit;
    font-size: 4vw;
    text-align: left;

}

.title-tablet p {
    padding: 30px;
    padding-bottom: 25px;
    margin: 0px;
    font-weight: 900;
}

.date-tablet {
    display: inline-grid;
    grid-column: 1/2;
    grid-row: 2/3;
    max-height: 15vh;
    height: 15vh;
    max-width: inherit;
    width: inherit;
    text-align: left;
    font-size: 2vw;
}
.date-tablet p {
    padding-left: 35px;
    padding-right: 35px;
    margin: 0px;
}

.date-tablet p span  {
    font-size: 2.5vw;
}


.description-tablet {
    display: inline-grid;
    grid-column: 1/2;
    grid-row: 3/4;
    max-height: 30vh;
    height: max-content;
    min-height: max-content;
    max-width: inherit;
    width: inherit;
    text-align: left;
    font-size: 2vw;
}
.description-tablet p {
    padding: 0 35px;
    margin: 0px;
}

.event-container-tablet div {
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
}
.event-container-tablet div::-webkit-scrollbar {
    -webkit-appearance: none;
}

.event-container-tablet div::-webkit-scrollbar:vertical {
    width: 11px;
}

.event-container-tablet div::-webkit-scrollbar:horizontal {
    height: 11px;
}

.event-container-tablet div::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}