@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');


:root{
  --circle-diam: 14px;
  --line-width: 2px;
  --primary-colour: #B721FF;
}

body{
  font-family: 'Open Sans', sans-serif;
}

/* h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
} */

.intro-para {
  position: relative;
}

.intro-para h3 {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.intro-para p{
  font-size: 15px;
  margin-top: 0.75rem;
}

.intro-para::before {
  position: absolute;
  top: calc(var(--circle-diam) * 0.75);
  left: calc( (var(--circle-diam) * -1) - var(--circle-diam)/2 );
  width: var(--circle-diam);
  height: var(--circle-diam);
  background-color: var(--primary-colour);
  display: block;
  content: '';
  border-radius: var(--circle-diam);
}

.intro-para::after {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: var(--line-width);
  background-color: var(--primary-colour);
  top: calc(var(--circle-diam) * 0.75);
  left: calc(var(--circle-diam) * -1 - var(--line-width)/2);
}

.intro-para:last-of-type::after {
  display: none;
}

.contact-list{
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  margin: 0.75rem auto;
  width: 80%;
}

.contact-list li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 100px;
}

h1.slogan {
  font-size: 55px;
  margin: 0px;
  background: -webkit-linear-gradient(left, #25CFFD, #B227FF);
  background: -o-linear-gradient(right, #25CFFD, #B227FF);
  background: -moz-linear-gradient(right, #25CFFD, #B227FF);
  background: linear-gradient(to right, #25CFFD, #B227FF); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  padding: 0px;
}

h1.name {
  font-size: 60px;
  margin: 0px;
  background: -webkit-linear-gradient(left, #25CFFD, #B227FF);
  background: -o-linear-gradient(right, #25CFFD, #B227FF);
  background: -moz-linear-gradient(right, #25CFFD, #B227FF);
  background: linear-gradient(to right, #25CFFD, #B227FF); 
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  padding: 0px;
  /* text-align: center; */
}

#logo { width: 500px; height: 200px; }

.intro-text {
  margin-top: -7vh;
}

@media(max-width: 1024px){
  .contact-list {
    width: 90%;
  }
  .intro-text {
    margin-top: -3vh;
  }
}

@media(max-width: 800px) {
  .intro-text {
    margin-top: -4vh;
  }
}

@media(max-width: 480px){
  #logo {
    width: 312px; height: 125px;
  }
  h1.slogan {
    font-size: 35px;
  }
  .contact-list {
    width: 100%;
    margin: 4vh 0;
  }
  .contact-list li {
    margin-right: 50px;
  }
  .intro-text {
    margin-top: 10px;
  }
  .intro-para::before, .intro-para::after {
    top: 0.1rem;
  }
}